/*****************IMAGE & IMAGE WRAPPER***********************************************************************/

.image-wrapper{
  position: relative;
  overflow: hidden;
  padding-bottom: 100%;
  height: 0;
  display: block;
  width: 100%;
  border-radius: 50%;
  border: 1px solid white;
  background-image: 
    url('sky_2.jpg');
    animation-name: move;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  background-size: auto 100%;
  background-position: center;
}

.pokemon_image{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 12.5%;
  
}



/***************ROW & EACH COLUMN (MODIFIED)*************************************************************************/

.row{
    margin: 0 auto;
    padding: 2% 10%;
    
}

.col-md-2half{
  border: 1px solid white;
  border-radius: 20px;
  margin: 1% 1%;
  padding: 0% 2% 2% 2%;
  width: 23%;
  background-image: url('wp2432983.jpg');
  background-size: 100% 100%;
  
  
}




/*********************POKEMON NAME & ID**************************************************************/

.pokemon-id{
  font-size: 1.4em;
  float: left;
  color:red;
  font-weight: bold;
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 1px;
}

.pokemon-name{
  font-size: 1.5em;
  display: block;
  text-align: center;
  margin: 3% auto;
  color:#DDDDDD;
}



/************TYPE OF POKEMON TEXT BOX*****************************************************************************/

.text-box{
  text-align: center;
  border-radius: 10px;
  border: 1px solid;
  font-size: 0.9em;
  width: 45%;
  display: inline-block;
  margin-left: 4%;
  color: black;
  font-weight: 500;
}

.text-box:last-of-type{
  margin-left: 0;
} 





/************SORT BAR******************************************************************/
#sort-bar{
  display: block;
  margin: 0 auto;
  width: 40%;
}


/*********************SEARCH BAR*****************************************************************/
#search-bar{
  width: 40%;
  margin: 0 auto;
}

#input-text{
  width: 80%;
}

#no-pokemon-found {
  display: none;
}


/*****************Load more section*************************************************************************/

#load-more-btn{
  width: 30%;
  color: white;
  display: block;
  text-align: center;
  margin: 1% auto 8% auto;
  padding: 1%;
  border-radius: 30px;
  background-color: grey;
  transition: 0.3s;
}

#load-more-btn:hover{
  color: black;
  background-color:white;
  border: 3px solid black;
  text-decoration: none;
}

.noContent {
  color: white !important;
  background-color: transparent !important;
  pointer-events: none;
}


/****************Carousel inner Image************************************************************************/

.carousel-inner img{
  width: 100%;
  height: 100%;
 
}


.carousel-item{
  height: 650px;
  padding: 0 10%;
  background: black;
  
}




/***********************Define the color for each type********************************************************************************/

.grass{
  background-color: #7CFC00;
  border-color: #7CFC00;
}

.poison{
  background-color: #EE82EE;
  border-color: #EE82EE;
}

.normal{
  background-color: #D3D3D3;
  border-color: #D3D3D3;
}

.fire{
  background-color: #ff3300;
  border-color: #ff3300;
}

.electric{
  background-color: #FFFF66;
  border-color: #FFFF66;
}

.ice{
  background-color: #9EE4D9;
  border-color: #9EE4D9;
}

.fighting{
  background-color: #FF8C00;
  border-color: #FF8C00;
}

.ground{
  background-color: #CD853F;
  border-color: #CD853F;
}

.flying{
  background-color: #B0E0E6;
  border-color: #B0E0E6;
}

.psychic{
  background-color: #EE82EE;
  border-color: #EE82EE;
}

.bug{
  background-color: #6B8E23;
  border-color: #6B8E23;
}

.rock{
  background-color: #DEB887;
  border-color: #DEB887;
}

.ghost{
  background-color: #4B0082;
  border-color: #4B0082;
}

.dragon{
  background-color:	#DC143C;
  border-color: #DC143C;
}

.dark{
  background-color:	#696969;
  border-color:	#696969;
}

.steel{
  background-color: #708090;
  border-color: #708090;
}

.fairy{
  background-color:	#FFB6C1;
  border-color:	#FFB6C1;
}

.steel{
  background-color: #708090;
  border-color: #708090;
}

.water{
  background-color: #00BFFF;
  border-color: #00BFFF;
}



/********************Responsive Media**********************************************************************/
@media screen and (max-width: 893px){
  .col-md-2half{
    width: 45%;
    margin: 2% auto;
  }

  .carousel-item{
    height: 200px;
    
  }

  #sort-bar{
    width: 80%;
  }

  #search-bar{
    width: 80%;
    margin: 5% auto;
  }

  #dropdown_list{
    font-size: 0.9em;
    
  }
  
  #input-text{
    font-size: 0.9em;
  }

  #load-more-btn{
    font-size: 0.8em;
  }

  .pokemon-id{
    margin-left: 2.5%;
  }

  body{
    animation-iteration-count: none;
  }

}


/******************CSS Animation*********************************************/

body{
  background-image: url('sky.jpg');
  animation-name: move;
	animation-duration: 150s;
	animation-timing-function: linear;
  animation-iteration-count: infinite;
  color: beige;
  background-color: black;
}



@keyframes move{
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

