/*****************IMAGE & IMAGE WRAPPER***********************************************************************/

.image-wrapper{
  position: relative;
  overflow: hidden;
  padding-bottom: 100%;
  height: 0;
  display: block;
  width: 100%;
  border-radius: 50%;
  border: 1px solid white;
  background-image: 
    url('sky_2.jpg');
    animation-name: move;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  background-size: auto 100%;
  background-position: center;
}

.pokemon_image{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 12.5%;
  
}



/***************ROW & EACH COLUMN (MODIFIED)*************************************************************************/

.row{
    margin: 0 auto;
    padding: 2% 10%;
    
}

.col-md-2half{
  border: 1px solid white;
  border-radius: 20px;
  margin: 1% 1%;
  padding: 0% 2% 2% 2%;
  width: 23%;
  background-image: url('wp2432983.jpg');
  background-size: 100% 100%;
  
  
}




/*********************POKEMON NAME & ID**************************************************************/

.pokemon-id{
  font-size: 1.2em;
  float: left;
  margin-left: 2.5%;
}

.pokemon-name{
  font-size: 1.5em;
  display: block;
  text-align: center;
  margin: 3% auto;
}



/************TYPE OF POKEMON TEXT BOX*****************************************************************************/

.text-box{
  text-align: center;
  border-radius: 10px;
  border: 1px solid black;
  font-size: 0.9em;
  width: 45%;
  display: inline-block;
  margin-left: 4%;
}

.text-box:last-of-type{
  margin-left: 0;
} 





/************SORT BAR******************************************************************/
#sort-bar{
  display: block;
  margin: 0 auto;
  width: 40%;
}


/*********************SEARCH BAR*****************************************************************/
#search-bar{
  /* display: block;
  margin: 0 auto;
  text-align: center;
  width: 100%; */
  width: 40%;
  margin: 0 auto;
}

#input-text{
  width: 80%;
}

#no-pokemon-found {
  display: none;
}


/*****************Load more section*************************************************************************/

#load-more-btn{
  width: 30%;
  color: white;
  display: block;
  text-align: center;
  margin: 1% auto 8% auto;
  padding: 1%;
  border-radius: 30px;
  background-color: grey;
  transition: 0.3s;
}

#load-more-btn:hover{
  color: black;
  background-color:white;
  border: 3px solid black;
  text-decoration: none;
}

.noContent {
  color: white !important;
  background-color: transparent !important;
  pointer-events: none;
}


/****************Carousel inner Image************************************************************************/

.carousel-inner img{
  width: 100%;
  height: 100%;
 
}


.carousel-item{
  height: 650px;
  padding: 0 10%;
  background: black;
  
}




/***********************Define the color for each type********************************************************************************/

.grass{
  background-color: #9bc400;
  border-color: #9bc400;
  color:beige;
}

.poison{
  background-color: blueviolet;
  border-color: blueviolet;
}



/********************Responsive Media**********************************************************************/
@media screen and (max-width: 893px){
  .col-md-2half{
    width: 45%;
  }

  .carousel-item{
    height: 300px;
    
  }


}


/******************CSS Animation*********************************************/

body{
  background-image: url('sky.jpg');
  animation-name: move;
	animation-duration: 150s;
	animation-timing-function: linear;
  animation-iteration-count: infinite;
  color: beige;
  background-color: black;
}



@keyframes move{
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

